html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border: 0; font-family: inherit; font-size: 100%; font-style: normal; font-weight: normal; margin: 0; outline: 0; padding: 0; vertical-align: baseline; }
:focus { outline: 0; }
body { background: #fff; line-height: 1; }
ol, ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { font-weight: normal; text-align: left; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a:active { text-decoration: none; }
a:hover { text-decoration: none; }
a:visited { text-decoration: none; }
a:link { text-decoration: none; }
a img { border: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body, input, textarea, button { color: #333; background:#fff; font: 14px "Microsoft YaHei", '微软雅黑'; font-weight: 300; line-height: 2; }
.clearfix:before, .clearfix:after { content: "."; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.autoImg, .autoimg { max-width: 100%; height: auto; vertical-align: middle }
.fl { float: left }
.fr { float: right }
*, html { border: 0; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; margin: 0; outline: 0; padding: 0; vertical-align: baseline; }
ul, ol { list-style: none; }

#page{width:1000px; margin:0 auto; padding:0 0 75px 0}

/*20140925 add by zwj*/
#topHeader,#header,#footer-top-wrapper,#footer-bottom-wrapper{min-width:1000px;}
@media screen and (min-width:720px) and (max-width:1024px){
	body{padding:0 10px;}
	}