<div class="pageContent">
    <div class="pageFormContent" layoutH="97">
        <dl class="nowrap">
            <dt>用户ID:</dt><{$dataArr.user_id}>
        </dl>
        <dl class="nowrap">
            <dt>平台:</dt><{$dataArr.plat_name}>
        </dl>
        <dl class="nowrap">
            <dt>渠道:</dt><{$dataArr.agent_name}>
        </dl>
        <dl class="nowrap">
            <dt>imei:</dt><{$dataArr.imei}>
        </dl>
        <dl class="nowrap">
            <dt>imsi:</dt><{$dataArr.imsi}>
        </dl>
        <dl class="nowrap">
            <dt>语言:</dt><{$dataArr.language}>
        </dl>
        <dl class="nowrap">
            <dt>版本:</dt><{$dataArr.version}>
        </dl>
        <dl class="nowrap">
            <dt>分辨率:</dt><{$dataArr.resolution}>
        </dl>
    </div>
</div>