@charset "utf-8";
/* CSS Document */
*{ padding:0px; margin:0px;}
body{ margin:0px; padding:0px; font-size:12px; color:#3e81a1; font-family:Arial, Helvetica, sans-serif; background:#57bbec;}
li {list-style-type: none; overflow:hidden;}
.fl{ float:left;}
.fr{ float:right;}
.cl{ clear:both;}
.zz{ margin:0 auto;}
a img{ border:0px;}
a:link,a:visited{ color:#3e81a1; text-decoration:none;}
a:hover,a:active{ color:#3e81a1; text-decoration:underline;}

.login{ width:1000px;}
.login1{ height:105px; background:url(../img/hd1.jpg) no-repeat;}
.login2{ height:115px; background:url(../img/hd2.jpg) no-repeat;}
.login3{ height:270px; background:url(../img/hd3.jpg) no-repeat;}
.login4{ height:180px; background:url(../img/hd4.jpg) no-repeat;}

.logo{ width:173px; height:105px; display:block; text-indent:-9999px;}
.login31{ width:391px;}
.login311{ width:302px; height:34px; margin-top:10px; background:url(../img/input.gif) no-repeat;}
.name{ width:100px; height:34px; background:url(../img/user.gif) 6px 8px no-repeat; }
.name1{ width:100px; height:34px; background:url(../img/key.gif) 6px 8px no-repeat; }
.name2{ width:100px; height:34px; background:url(../img/mun.gif) 6px 8px no-repeat; }
.name3{ width:100px; height:34px; background:url(../img/password.gif) 6px 8px no-repeat; }

.name span,.name1 span,.name2 span,.name3 span{ padding-left:30px; font-size:13px; font-weight:bold; color:#58a3c2; line-height:34px;}
.text{ width:200px; height:31px; margin-top:1px;}
.text1{ width:197px; height:31px; border:0; background:url(../img/input.gif) -100px -1px no-repeat; line-height:31px; color:#58a3c2; padding-right:5px;}
.login312{ width:302px; height:40px; margin-top:23px; text-align:center;}
.btn{ width:165px; height:40px; background:url(../img/btn.gif) no-repeat; border:0; cursor:pointer;}
.btn:hover{ width:165px; height:40px; background:url(../img/btn.gif) 0 -40px; no-repeat; border:0; cursor:pointer;}
.login4 p{ padding:30px 0 0 40px;}